[Unit]
Description=Nginx proxy for Norsk
After=network.target
After=norsk-setup.service

[Service]
WorkingDirectory=/var/norsk-studio/norsk-studio-starter-kit
ExecStart=/var/norsk-studio/norsk-studio-starter-kit/deployed/support-containers.sh up
ExecStop=/var/norsk-studio/norsk-studio-starter-kit/deployed/support-containers.sh down
ExecReload=/var/norsk-studio/norsk-studio-starter-kit/deployed/support-containers.sh exec nginx nginx -s reload

[Install]
WantedBy=multi-user.target
