[Unit]
Description=Norsk Studio and Norsk Engine
After=network.target

[Service]
WorkingDirectory=/var/norsk-studio/norsk-studio-starter-kit
ExecStart=/var/norsk-studio/norsk-studio-starter-kit/deployed/norsk-containers.sh up --abort-on-container-exit
ExecStop=/var/norsk-studio/norsk-studio-starter-kit/deployed/norsk-containers.sh down

[Install]
WantedBy=multi-user.target
