[Unit]
Description=Initialize Netint Libxcoder to detect Netint Quadra devices

[Service]
# Run once at startup and reboot
Type=oneshot
RemainAfterExit=true
#Quadra Product Line
ExecStart=-/usr/local/bin/init_rsrc -t 5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ni_libxcoder_devices
# Do not create the devices as root
User=norsk
Group=disk

[Install]
WantedBy=multi-user.target
